.star {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 20px;
    margin: -10px 0 0 -10px;
    cursor: pointer;
}

.star .star-entity {
    position: absolute;
    height: 50%;
    width: 50%;
    left: 25%;
    top: 25%;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 50%;
    /*box-shadow: 0 0 2px 8px rgba(0, 0, 0, 0.4), 0 0 2px 9px rgba(255, 255, 255, 0.07), 0 0 2px 15px rgba(0, 0, 0, 0.4), 0 0 2px 16px rgba(255, 255, 255, 0.1);*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.star .star-entity em {
    position: absolute;
    left: 0;
    top: 0;
    font-style: normal;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    opacity: .3;
    word-break: keep-all;
    white-space: nowrap;
    display: inline-block;
    margin-top: -0.75em;
    text-align: left;
    -webkit-transform: translate(0, 5px) scale(0.7);
    -moz-transform: translate(0, 5px) scale(0.7);
    -ms-transform: translate(0, 5px) scale(0.7);
    -o-transform: translate(0, 5px) scale(0.7);
    transform: translate(0, 5px) scale(0.7);
}

.star:hover .star-entity em {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.star .star-blink {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 0;
    -webkit-transform: rotate(0deg) scale(0.08);
    -moz-transform: rotate(0deg) scale(0.08);
    -ms-transform: rotate(0deg) scale(0.08);
    -o-transform: rotate(0deg) scale(0.08);
    transform: rotate(0deg) scale(0.08);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: blinkAfter 15s infinite ease-out;
    -o-animation: blinkAfter 15s infinite ease-out;
    animation: blinkAfter 15s infinite ease-out;
}

.star .star-blink div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transform: rotate(45deg) scale(.75);
    -moz-transform: rotate(45deg) scale(.75);
    -ms-transform: rotate(45deg) scale(.75);
    -o-transform: rotate(45deg) scale(.75);
    transform: rotate(45deg) scale(.75);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.star .star-blink:after,
.star .star-blink:before,
.star .star-blink div:after,
.star .star-blink div:before {
    content: '';
    position: absolute;
    display: block;
    top: -350%;
    left: 45%;
    height: 800%;
    width: 10%;
    border-radius: 50%;
    background-color: #b6cbd4;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.1) 100%);
    z-index: 1;
    box-shadow: 0 0 25px white;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.star .star-blink:before,
.star .star-blink div:before {
    -webkit-transform: rotate(90deg);
}

.star .star-blink.blue:after,
.star .star-blink.blue:before,
.star .star-blink.blue div:after,
.star .star-blink.blue div:before {
    box-shadow: 0 0 25px blue;
}

.star .star-blink.red:after,
.star .star-blink.red:before,
.star .star-blink.red div:after,
.star .star-blink.red div:before {
    box-shadow: 0 0 25px red;
}

@-webkit-keyframes blinkAfter {
    0% {
        -webkit-transform: rotate(0deg) scale(0.08);
        -moz-transform: rotate(0deg) scale(0.08);
        -ms-transform: rotate(0deg) scale(0.08);
        -o-transform: rotate(0deg) scale(0.08);
        transform: rotate(0deg) scale(0.08);
    }
    4% {
        -webkit-transform: rotate(-20deg) scale(0.9);
        -moz-transform: rotate(-20deg) scale(0.9);
        -ms-transform: rotate(-20deg) scale(0.9);
        -o-transform: rotate(-20deg) scale(0.9);
        transform: rotate(-20deg) scale(0.9);
    }
    8% {
        -webkit-transform: rotate(-40deg) scale(0.08);
        -moz-transform: rotate(-40deg) scale(0.08);
        -ms-transform: rotate(-40deg) scale(0.08);
        -o-transform: rotate(-40deg) scale(0.08);
        transform: rotate(-40deg) scale(0.08);
    }
    50% {
        -webkit-transform: rotate(-40deg) scale(0.08);
        -moz-transform: rotate(-40deg) scale(0.08);
        -ms-transform: rotate(-40deg) scale(0.08);
        -o-transform: rotate(-40deg) scale(0.08);
        transform: rotate(-40deg) scale(0.08);
    }
    52% {
        -webkit-transform: rotate(-50deg) scale(0.3);
        -moz-transform: rotate(-50deg) scale(0.3);
        -ms-transform: rotate(-50deg) scale(0.3);
        -o-transform: rotate(-50deg) scale(0.3);
        transform: rotate(-50deg) scale(0.3);
    }
    54% {
        -webkit-transform: rotate(-60deg) scale(0.08);
        -moz-transform: rotate(-60deg) scale(0.08);
        -ms-transform: rotate(-60deg) scale(0.08);
        -o-transform: rotate(-60deg) scale(0.08);
        transform: rotate(-60deg) scale(0.08);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(0.08);
        -moz-transform: rotate(0deg) scale(0.08);
        -ms-transform: rotate(0deg) scale(0.08);
        -o-transform: rotate(0deg) scale(0.08);
        transform: rotate(0deg) scale(0.08);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}